/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.banner{
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  object-fit: cover;
  object-position: center;
}

.banner h1{
  color: aliceblue;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-green{
  color: white;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #59CE8F;
  border-radius: 50%;
  padding: 20px 20px;
  display: inline-block
}

.btn-green:hover{
  color: grey ;
  background-color: aliceblue;
}

.container h2{
  color: #0A2647;
  text-align: center;
}

.card h3{
  color:#2C3639;
  font-size: 20px;
}

.cards{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  flex-wrap:wrap
}

.card{
  border-radius: 5px;
  border: #2C3639;
  text-align: center;
  padding: 20px;
  box-shadow: box-shadow rgba(0, 0, 0, 0.15) 0px 2px 8px ;
  border: 1px solid rgb(230,230,230);
  width: 220px
}

.card img {
  height: 140px;
  width: 140px;
  border-radius: 3px
}

.footer{
  color: #2C3639;
  font-size: 30px;
  background-color: #D8D8D8 ;
  display: flex;
  justify-content: center;
  height: 150px;
  padding: 60px
}

.footer-links{
  display: flex;
  align-items: center;
}

.footer-links > a {
  color: #2C3639;
  font-size: 45px;
  align-items: center;
  opacity: 0.75;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
